ul,li,body{
    margin:0;
    padding:0;
    list-style:none;

}
.beijing{
    background-image: url("../images/016.jpg");
    width: 1024px;
    height: 673px;
    margin: 0 auto;
  
    box-shadow: 0 0 2px black;
}
.container{
 width: 800px;
    height: 450px;
    margin: 0px auto;
    position: absolute;
   top: 154px;
    left: 243px;
}
.menu{
    width: 65px;
    height: 450px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    float: left;
}
.menu .parent{
    margin-top: 15px;
    float: left;
    position: relative;
    margin-left: -15px;
}
.hasson{
    width: 64px;
    height: 30px;
    border-radius: 4px;
    background: #DCDCDC;
    box-shadow: 0 0 2px 0px #4A4A4A;
}
.menu .parent div{
    box-sizing: border-box;
    width:100%;
    height:100%;
    background: #508B3B;
}
.menu>.parent:hover{
    border: 1px solid #3E8DAA;
    border-radius: 4px;
 }
.menu>.parent>.son:hover{
    display: block;
}
.menu .parent .son{
    padding: 0;
    margin: 0;
    width: 64px;
    background: #FDF003;
    border-radius: 6px;
    margin-left: 65px;
    margin-top: -30px;
    position: relative;
    z-index: 61;
}
.box{
   width: 720px;
    height: 400px;
    position: relative;
    float: left;
    margin-left: 10px;

}
.dd{
    margin-left: 7px;
}
.copy{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.box canvas{
    position:absolute;
    left:0;
    top:0;
    background:#FCFCF0;
    /*background-image: url("../images/22.jpg");*/
}
.son{
    display: none;
    background:#aaa;
}
.son li{
    /*border-bottom: 1px dashed #3E8DAA;*/
    transition: all 2s ease;
    border-radius: 6px;
    border-bottom: 1px solid #B1B1B1;
}
.son li:hover{
    background:#3E8DAA;
    color:#ccc;
}
.xp{
    border:1px solid black;
    position: absolute;

}
.textArea{
    position: absolute;
    border:1px dotted black;

}

